@charset "utf-8";
/*CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
*{
	padding:0;
	margin:0;
}
html,body{
	width: 100%;
	height: 100%;
}
body{
	font-family:"微软雅黑";
}
img{
	display: block;
	border:none;
}
input{
	outline:none;		
	border:none;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}

/* ----------------------------------section ---------------------*/
section{
	width: 100%;
	height: 250px;
	background:url(../imgs/011.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
}
section .mask{
	width: 100%;
	height: 250px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top:0;
	left:0;
}
section .word{
	width: 190px;;
	height: 55px;
	text-align: center;
	position: absolute;
	top:30%;
	left:42%;

}
section h3 {
    font-size: 35px;
    padding: 20px 0 12px 0;
    position: absolute;
	text-align: center;
	font-family: "Playfair Display", serif;
	color:#fff;
}
section .line{
	display:inline-block;
	width: 110px;
	height: 3px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	position: absolute;
	top:121%;
	left:20%;
}
.log{
	width: 100%;
	height: 341px;
	padding:60px 0 105px;
}
.logBox{
	width:45%;
	height:341px;
	margin:0 auto;
}
.logBox h2{
	margin-left:43%;
}
.log p{
	margin:25px 0 10px;
	color:#a39e9b;
}
.log .ep{
	width: 100%;
	height: 50px;
	background-color: #f2f2f2;
}
.log .ep:hover{
	background-color: #8ba06d;
}
.log .rempwd{
	margin-top:18px;
	color:#a39e9b;
}

.log .rempwd a{
	color:#a39e9b;
}
.log .rempwd input{
	float: left;
}
.log .rempwd span{
	float: right;
}
.log .submit{
	width: 130px;
	height: 50px;
	color:#fff;
	background-color: #97ae76;
	border-radius:23px;
	margin-top: 24px;
    margin-left: 39%;
}
.log .submit:hover{
	background-color: #8ba06d;
}
@media screen and (max-width:1200px){
	.logBox{
		width:55%;
	}
}

@media screen and (max-width:996px){
	.logBox{
		width:70%;
	}
}
@media screen and (max-width:600px){
	.logBox{
		width:90%;
	}
}

